.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.product-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 18px;
  margin-bottom: 20px;
}

.product-card .price {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

